*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.wrapper{
    width:100vw;
    height:100vh;
    background-image: url("resource/assets/gradient-bg.jpg");
    display:grid;
    place-items: center;
}
.main{
    /* display: flex;
    justify-content: center;
    flex-direction: column; */
    width:20vw;
    height:20vw;
    display:grid;
    grid-template-columns: repeat(3,1fr);
    position:absolute;
    background-color:rgba(255, 255, 255, 0.15); 
    border-radius: 2rem ;
    /* aspect-ratio: 1/1; */
    border:3px solid rgba(255, 255, 255, 0.25);
}
.wrapper p:first-of-type{
    text-align: center;
    position: absolute;
    color: white;
    background-color: rgba(255, 255, 255, 0.15);
    font-family: 'Poppins', 'sans-serif';
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-radius: 4vw;
    top: 3vw;
    left: 43vw;
    font-size: 2vw;
    padding:0.5rem;
}


.box{
    position:relative;
    display:flex;
    justify-content:center;
    align-items:center;
    color:white;
    width:100%;
    height:100;

    
    /* aspect-ratio: 1/1; */
    

}
.box1,.box2,.box4,.box5 {
    
    border-right: 2px solid white;
    border-bottom: 2px solid white;
    font-size: 2vw;
}
.box3,
.box6 {
    border-bottom: 2px solid white;
    font-size: 2vw;
}

.box7,
.box8 {
    border-right: 2px solid white;
    font-size: 2vw;
}
.box9{
    font-size: 2vw;
}
.btn{
    display: none;
    color: white;
    position: absolute;
    bottom: 4vw;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 3vw;
    border: 0.1vw solid rgba(255, 255, 255, 0.25);
    padding: 0.5rem 2rem;
    font-size: 2vw;
    cursor: pointer;
        
}
.btn.active{
    display:flex;
}
.win{
    background-color: rgba(8, 255, 8, 0.458);
}
